.wd-profile-pic {
  width: 150px;
  height: 150px;
}

.wd-profile-pic {
  top: -100px;
}

.wd-edit {
  float: right !important;
  border: 1px solid rgb(173, 173, 173) !important;
}

.wd-profile-content {
  position: relative;
  top: 60px;
}

.wd-profile-details {
  column-gap: 40px;
}

.wd-location img,
.wd-dob img,
.wd-joined img {
  width: 17px;
  margin-right: 10px;
}

.wd-follow-details {
  column-gap: 30px;
  margin-top: 20px;
}
