body {
  color: gray;
}

.wd-nav-items {
  color: rgb(194, 194, 194);
}
.wd-nav-items.fw-bolder {
  color: rgb(255, 255, 255);
}

.wd-bookmarks-wrap {
  padding-top: 0;
}

.wd-border-bottom-1px {
  border-bottom: rgb(187, 187, 187) 1px solid;
}

.fa-check-circle::before {
  color: white;
}

.wd-rounded-corners {
  border-radius: 20px 20px 20px 20px !important;
}

.wd-side-borders {
  border-left: rgb(186, 186, 186) 1px solid;
  border-right: rgb(186, 186, 186) 1px solid;
}

.wd-bookmarks-header {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wd-header-left h1 {
  color: white;
  margin: 0 0 10px 0;
  font-size: 20px;
}

.wd-header-left span {
  color: gray;
  font-size: 13px;
}

.wd-bookmark {
  padding: 12px 16px;
  display: flex;
  column-gap: 12px;
}

.wd-bookmark p {
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin: 0;
  max-width: 506px;
  margin-bottom: 16px;
  margin-top: 12px;
}

.wd-bookmark-avatar {
  width: 48px;
  height: 48px;
}

.wd-bookmark-author,
.wd-bookmark-author-handle {
  font-size: 15px;
}

.wd-bookmark-author {
  color: black;
  display: inline;
}

.wd-bookmark-box-content {
  border: rgb(192, 192, 192) 1px solid;
  border-radius: 20px;
}

.wd-bookmark-box-content img {
  width: 100%;
}

.wd-bookmark-right {
  width: -webkit-fill-available;
  position: relative;
}

.wd-bookmark-box-content img {
  border-radius: 20px 20px 0 0;
  height: 264px;
  object-fit: cover;
}

.wd-bookmark-box-content {
  max-width: 504px;
}

.wd-readmorebookmarks-dots img {
  width: 20px;
}

h2.wd-box-head {
  margin: 0;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

p.wd-box-content {
  color: grey;
  margin: 0;
}

.wd-box-writing {
  padding: 12px;
}

.wd-icon-container.active {
  color: red;
}

.wd-icon-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 506px;
}

.wd-icon-container {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin: 12px 0;
  flex-basis: 25%;
  text-decoration: none;
  color: gray;
}

.wd-bookmark-right .wd-readmorebookmarks-dots img {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .wd-bookmark {
    flex-direction: column;
    row-gap: 20px;
  }
}
