.wd-avatar-image {
  object-fit: cover;
}

.wd-avatar-container {
  width: 48px;
  height: 48px;
}

.wb-search-magnifier {
  top: 7px;
  left: 28px;
}

.wd-spaceX-text {
  left: 10px;
}
.wd-cog {
  font-size: 30px;
  top: 5px;
}

.wd-follow-btn {
  width: unset;
}

/* .wd-override-bs {
  background-color: black;
}

.wd-override-bs * {
  color: white;
  background-color: black;
} */
