body {
  background-color: black;
  padding: 0 15px 0 30px;
  font-family: sans-serif;
}
.wd-explore-wrap,
.wd-bookmarks-wrap {
  padding: 15px 0;
  border-left: rgb(47, 51, 54) 1px solid;
  border-right: rgb(47, 51, 54) 1px solid;
}

.wd-readmore-dots {
  position: absolute;
  display: flex;
  right: 16px;
  width: 20px;
}

.wd-border-bottom-1px {
  border-bottom: rgb(47, 51, 54) 1px solid;
}
